.App-logo {
  max-width: 70px;
  min-width: 30px;
  pointer-events: none;
}

.btn span {
  padding: 8px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 40px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 24px;
}

.App-link {
  color: #61dafb;
  font-size: .7em;
  text-decoration: none;
  margin-left: 3%;
}

.toolbar {
  margin-bottom: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
